body {
    background-color: $white;
  color: $medium-gray;
}

.main-nav{
    ul{
      li{
        display: inline;
        padding-right: 22px;
        color: $gape-gray;
        font-size: $nav-font-size;
      }
   }
}



.footer-begin-line{
  height: 10px;
  background-color: $light-gray;
}

footer{
  @include outer-container;
  padding-top: 20px;
  text-align: center;

  .footer-logos{
    @include span-columns(6);
    img{
      padding-right: 30px;
    }
  }
  .footer-nav{
    @include span-columns(4);
    @extend .main-nav;
    margin-top: 20px;
  }
  .footer-social{
    @include span-columns(2);
    img{
      padding-top: 20px;
      padding-right: 20px;
    }
  }

}

