%article
  %header
    %img{:alt => "", :src => "./assets/images/agenda.svg"}/
    %h2 Agendas Abiertas
  .content-item
    %h3.big-h3 Educaci&oacute;n Superior
    .status
      .status-ball-green
      %h4 Abierto
    %ul
      %li
        %img{:alt => "", :src => "./assets/images/mesa.svg"}/
        2 mesas de trabajo
      %li
        %img{:alt => "", :src => "./assets/images/compromisos2.svg"}/
        3 compromisos abiertos
      %li
        %img{:alt => "", :src => "./assets/images/compromisos2.svg"}/
        1 Resultado
