
%article
  %header
    %img{:alt => "", :src => "./assets/images/compromisos2.svg"}/
    %h2 Compromisos
  .content-item
    %h3 Desarrollo de Planes y Agendas para la Educaci&oacute;n Superior en el Estado de Puebla
    %span Educaci&oacute;n Superior
    %ul.add-margin-top
      %li
        .status
          .status-ball-green
          %h4 Abierto
      %li
        %img{:alt => "", :src => "./assets/images/calendar.svg"}/
        18 de octubre
      %li
        .avance
          Ver avance 
    .extra-info
      %h5 Problem&aacute;tica:
      %p Los estudiantes indican que los requisitos para tramitar la beca son demasiados y en ocaciones no logran conseguirlos todos.
      %h5 Objetivo:
      %p Incrementar la cantidad de universitarios de Instituciones P&uacute;blicas de Educaci&oacute;n Superior que entreguen su expediente completo y correcto para poder participar en la Convocatoria de la Beca Manutenci&oacute;n 2016-2017.
      %h5 Resultado:
      %p El 21 de julio se realiz&oacute; la Reuni&oacute;n del Subcomit&eacute; T&eacute;cnico para trabajar el Proyecto de Convocatoria del Programa de Becas Nacionales para la Educaci&oacute;n Superior Manutenci&oacute; del ciclo escolar 2016-2017, en el que redujeron de 12 a 6 los documentos a entregar para integrar el expediente de los solicitantes. Los documentos que dejar&aacute;n de ser requeridos son:
      %ul
        %li - Constancia de ingresos
        %li - Constancia de dependencias
        %li - Constancia del programa Prospera
        %li - Comprobante de domicilio
        %li - Constancia de promedio escolar

