
%article
  %header
    %img{:alt => "", :src => "./assets/images/compromisos2.svg"}/
    %h2 Compromisos
  .content-item
    %h3 Desarrollo de Planes y Agendas para la Educaci&oacute;n Superior en el Estado de Puebla
    %p Educaci&oacute;n Superior
    %ul
      %li
        .status
          .status-ball-green
          %h4 Abierto
      %li
        %img{:alt => "", :src => "./assets/images/calendar.svg"}/
        18 de octubre
      %li
        %a Ver avance
