.footer-begin-line
  %footer
    .footer-logos
      %img{ :src => './assets/images/puebla.png'}
      %img{ :src => './assets/images/world-bank.png'}
    .footer-nav
      %nav
        %ul
          %li ¿Qu&eacute; es?
          %li Contacto
          %li Blog
    .footer-social
      %img{ :src => './assets/images/facebook.svg'}
      %img{ :src => './assets/images/twitter.svg'}
