.menu
  %a.item-light-blue{:href => "#"}
    %img{:alt => "", :src => "./assets/images/diagnostico.svg"}/
    .text-container
      %h2 Diagn&oacute;stico
  %a.item-dark-blue{:href => "#"}
    %img{:alt => "", :src => "./assets/images/trabajo.svg"}/
    .text-container
      %h2 Mesas de Trabajo
  %a.item-blue{:href => "#"}
    %img{:alt => "", :src => "./assets/images/compromisos.svg"}/
    .text-container
      %h2 Compromisos
  %a.item-orange{:href => "#"}
    %img{:alt => "", :src => "./assets/images/resultados.svg"}/
    .text-container
      %h2 Seguimiento de Resultados
