%article
  %header
    %img{:alt => "", :src => "./assets/images/mesa.svg"}/
    %h2 Mesas de trabajo
  .content-item
    %h3 Talleres de oto&ntilde;o
    %ul
      %li
        Educaci&oacute;n Superior
      %li
        Virtual
      %li
        %img{:alt => "", :src => "./assets/images/calendar.svg"}/
        11 de octubre
    %a Ver m&aacute;s detalles &#8594;
  .content-item
    %h3 Programas de Verano
    %ul
      %li
        Educaci&oacute;n Superior
      %li
        Virtual
      %li
        %img{:alt => "", :src => "./assets/images/calendar.svg"}/
        13 de octubre
    %a Ver m&aacute;s detalles &#8594;
