
.footer-begin-line{
  height: 10px;
  background-color: $light-gray;
}

footer{
  padding-top: 20px;
  text-align: center;

  .footer-logos{
    @include span-columns(6);
    position: left;
    padding-left:140px;

    img{
      padding-right: 30px;
    }
  }
  .footer-nav{
    @include span-columns(3);
    @extend .main-nav;
    margin-top: 20px;
  }
  .footer-social{
    @include span-columns(1.5);
    img{
      padding-top: 20px;
      padding-right: 20px;
    }
  }

  @include media(min-width 320px max-width 779px){
    height: 250px;
    .footer-logos{
      @include span-columns(12);
      position: left;
      padding-left: 10px;
      img{
        height: 50px;
      }
    }
    .footer-nav{
      @include span-columns(12);
    }
    .footer-social{
      @include span-columns(12);
    }
  }
}

