.menu-item{
    outline:none;
    overflow:hidden;
    text-decoration: none;
    width: 25%;
    height: 200px;
    float: left;
    text-align: center;
    display: block;
    padding: 50px 50px 15px 50px;
    @include media(min-width 320px max-width 779px) {
      width:50%;
    }
    .text-container{
      padding-top: 20px;
      vertical-align: middle;
      margin-top:0px;
      margin-bottom:0px;
      h2{
        color: $white;
      }
    }
    img{
      height: 60px;
      @include media(min-width 320px max-width 779px) {
        height: 40px;
      }
    }
}

.menu{
  height: 200px;
  margin-bottom: 115px;
  @include media(min-width 320px max-width 779px) {
    height:400px;
  }
  .item-light-blue{
    @extend .menu-item;
    background-color: $light-blue;
  }

  .item-dark-blue{
    @extend .menu-item;
    background-color: $dark-blue;
  }

  .item-blue{
    @extend .menu-item;
    background-color: $blue;
  }

  .item-orange{
    @extend .menu-item;
    background-color: $orange;
  }
}
