.four-display-settings{
  @include media(min-width 960px max-width 1199px){
    width: 960px; padding-left:30px; padding-right:30px;
  }
  @include media(min-width 780px max-width 959px) {
    width: 780px; padding-left:30px; padding-right:30px;
  }
  @include media(min-width 640px max-width 779px) {
    width: 640px; padding-left:20px; padding-right:20px;
  }
  @include media(min-width 320px max-width 639px) {
    width: 100%; padding-left:20px; padding-right:20px;
  }
}
