.middle-text{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.status{
  display: inline-block;
  margin-bottom: 15px;
  h4{
    font-weight: normal;
    padding-left: 20px;
    line-height: .5;
  }
}

.status-ball{
  float: left;
  margin:0 !important;
  padding: 0 !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}


.status-ball-green{
  @extend .status-ball;
  background: $green;
}

.diferent-h3{
  font-size: $medium-font-size;
  margin-bottom: 10px;
  @include media(min-width 320px max-width 779px){
    font-size: $small-font-size;
  }
}

article{
  @include outer-container(66%);
  @include media(min-width 320px max-width 779px){
    @include outer-container (90%);
  }
  overflow:hidden;
  header{
    margin: 60px 0 50px 0;
    padding: 0;
    h2{
      margin: 0;
      display: inline-block;
      color: $blue;
      font-size: $medium-font-size;
      @include media(min-width 320px max-width 779px){
        font-size: $small-font-size;
      }
    }
    img{
        @include media(min-width 320px max-width 779px){
          width: 40px;
        }
      }
  }
  main{
    border: 1px solid $blue;
    border-radius: 8px;
    padding: 25px;
    margin: 0 0 20px 0;
    position: relative;
    box-sizing: border-box;
    h3{
      color: $blue;
      font-size: $small-font-size;
    }
    ul{
      li{
        display: inline-block;
        margin-right: 50px;
        font-size: $small-font-size;
        @include media(min-width 320px max-width 1199px){
          display: block;
          margin-right: 0;
          overflow: hidden;
          padding-top: 10px;
          font-size: $base-font-size;
        }
        img{
          margin-right: 15px;
          vertical-align: middle;
        }
      }
      li:last-child{
        padding-right: 0px;
      }
    }
    a{
      float: right;
      text-decoration: underline;
      display: block;
      position: absolute;
      right: 30px;
      margin-top: -30px !important;
      @include media(min-width 320px max-width 1199px){
        position: relative;
        float: none;
        left: auto;
        right: auto;
        bottom: auto;
        margin-top: 10px !important;
      }
    }
  }
}
